<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>  
    <!-- 修改Mybatis在运行时的行为方式 -->
    <settings>
       <setting name="logImpl" value="log4j"/>
    </settings>
    <!-- 为java类型设置一个别名 -->
    <typeAliases >   
     	<package name="com.entity"/> 
    </typeAliases>
</configuration>